[submodule "src/sub1"]
	path = src/sub1
	url = https://github.com/Guolefeng/sub1.git
	branch = dev
[submodule "src/sub2"]
	path = src/sub2
	url = https://github.com/Guolefeng/sub2.git
	branch = feature
